<footer>
    <div class="footer-box">
        <div class="footer-socials">
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div>&#169; Wanderlust Private Limited</div>
        <div class="footer-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>