<nav class="navbar navbar-expand-md bg-body-light sticky-top border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-hotel"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search" method="get" action="/search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-danger" type="submit">Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/new">Add-New-Listing</a>
          <% if(!currUser){ %>
            <a class="nav-link" href="/signup"><b>SignUp</b></a>
          <a class="nav-link" href="/signin"><b>SignIn</b></a>
          <% } %>
          <% if(currUser){ %>
          <a class="nav-link" href="/signout"><b>SignOut</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>